/*ALL PAGES*/

html,
body {
	font-family: "Nunito", "Arial";
	font-size: 14px;
	color: white;
}

/*overcomes issue for fixed background on mobile browsers*/
body:before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url(images/1.jpg) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

p {
	text-align: center;
}

/*HEADERS*/
div h1 {
	text-align: center;
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
	margin-bottom: 20px;
}

/*NAVBAR STYLING*/

/*Navbar dropdown toggles on hover on desktop*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
	margin-bottom: 0;

}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin-bottom: 0;
	border-radius: 0;
		

}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav.navbar-nav {
	text-align: left;
}

.navbar-nav>li>a {
	color: white;
	margin: 15px 0;
    padding: 15px 25px;
    font-size:14px;
    font-weight: bold;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: transparent;
	color: #e7d506;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

#dropdown-toggle {
	margin-bottom: 0;
}

ul.dropdown-menu {
	background-color: black	;
}

.dropdown-menu>li>a{
	background-color: black	;
	color: #e7d506;
	border:none;
	margin-bottom: 0;
}

button.navbar-toggle {
	border-color: white;
}

/* collapsed navbar on mobile */
button.navbar-toggle.collapsed {
	border-color: white;
}
/*'burger' colour*/
span.icon-bar {
	background-color: white;
}


/*FOOTER STYLING*/

.footer {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 270px;
	text-align: center;
}

/*social media icons w spin on hover*/
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.social li {
	background: none repeat scroll 0 0 black;
	border: 2px solid #e7d506;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 12px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: white;
}
.social li:hover {
	border: 2px solid black;
	background: #e7d506;
}
.social li a i {
	font-size: 16px;
	margin: 0;
	color: white !important;
}

/*MODALS*/

div.modal-content {
	background-color: #bb0607;
}



/*HOMEPAGE */

/*HOMEPAGE BACKGROUND IMAGE ROTATOR*/
#rotatorContainer {
	width: 100%;
	height: 400px;		
	position: relative;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 40px;
}	

#homeTitle{
	position: relative;
	top: 5px;
	width: 100%;
	height: 100%;
	text-align: left;
	color: #fff;
	font-family: 'Rock Salt', cursive;
	font-size: 34px;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
}

#homeTitle span{
	font-weight: bold;
}

#rotatorImg1{
	background-image: url(images/dj.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#rotatorImg2{
	background-image: url(images/sam_willows.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#rotatorImg3{
	background-image: url(images/gigkit.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*END OF IMAGE ROTATOR*/

#home-div{
	margin: 40px 0 40px 0;
	padding: 20px 5px 20px 5px;
	background-color: black;
	color: white;
}

#home-div h1,
#home-div h2 {
	text-shadow: none;
}

div h2 {
	font-family: "Nunito", "Arial";
	text-align: center;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
}

div p {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}	


#next-gig-div {
	margin: 30px 0 30px 0;
	padding: 0;
}

iframe {
	margin-top: 20px;
}

#next-gig-button {
	margin-right: auto;
	margin-left: auto;
}

/*BANDPAGE*/

span.bandpage-member-header{
	font-size: 30px;
	font-family: 'Rock Salt', cursive;
}

.hoverP {
	/*not visible on mobile & touchscreen devices*/
	display: none;
	color: #9d9d9d;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

.bandpage-para-div {
	background-color: black;
	border-radius: 1px;
}

.bandpage-paragraphs {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
	padding-bottom: 10px;
}

.img-responsive {
	border-radius: 1px;
	width: 100%;
}

/*MUSIC PAGE*/

.music-page-images {
	margin-top: 20px;
	margin-bottom: 20px;
}


/*youtube player*/
div div div iframe  {
	border: 3px solid black;
}


/*GIGS PAGE*/

#gigs-header {
	text-align: center;
}

/*accordian */

.panel-default>.panel-heading {
	color: white;
	background-color:black;
	padding: 9px 5px 9px 5px;
	height: 35px;
}

div.panel-body {
	background-color: #e5e3df;
}

div.panel-default.ng-scope.ng-isolate-scope.panel {
	border-radius: 0;
	margin: 20px 0px 20px 0px;
}

/*end of accordian*/

#gigs-page-image-grid {
	padding-top: 25px;
	display: none;
}

.field {
	text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

input {
	color: black;
	border: 1px solid black;
	padding: 2px;
}

p.help-block {
	text-align: left;
}

.btn-primary {
	background-color: #bb0607;
	border:none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #bb0607;
	color:  #e7d506;
}

/*CONTACT PAGE*/

/*contact us*/
 
#contact-div {
	background-color: black;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 25px;
}

#contact-div h4 {
	margin-top: 0;
}

#twitter-div {
	padding: 0;
}




/*twitter feed*/

#tweets-subheader {
	font-family: 'Rock Salt', cursive;
	text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 2px 2px #333, -2px -2px 0 #333, 2px -2px 0 #333, -2px 2px 0 #333;
	text-align: center;
}

#tweets-div ul {
	list-style: none;
	padding: 0px;
}

#tweets-div ul li {
	display: table;
	margin-bottom: 20px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.user {
	display: table-cell;
	vertical-align: middle;
	width: 8%;
}

	.user img {
		border-radius: 50%;
		max-height: 70px;
		max-width: 70px;
		float: right;
	}

	/*remove twitter data we don't want to include*/
	.user span:nth-child(2) {
		display: none;
	}

	/*remove twitter data we don't want to include*/
	.user span:nth-child(3) {
		display: none;
	}

.tweet {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-left: 5px;
	width: 48%;
	font-family: 'Rock Salt', cursive;
	font-size: 1em;
}

.timePosted {
	display: table-cell;
	vertical-align: middle;
	width: 10%;
	color: white;
	padding-right: 5px;
}

	.timePosted a {
		color: white;
		
	}

.interact {
  display: none;
}






/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large desktops and laptops */
@media (min-width: 100%) {
/*// css specific properties col-lg-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
		
	}

	/*HOMEPAGE*/

	#homeTitle{
		font-size: 20px;
	}
	#homeTitle span{
		font-size: 20px;
	}


	/*BANDPAGE*/

	.hoverP {
		display: block;
		text-align: center;
		margin-top: 0px;
		color: white;
	}

	.bandpage-paragraphs{
		position: absolute;
		overflow: hidden;
		top: 0;
		opacity: 0;
		width: 46vw;
		height: 100%;
		padding: 80px 30px 0 30px;
	}

	.bandpage-image-container img {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.bandpage-image-container:hover img {
		-webkit-transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		-webkit-filter:grayscale(1);
		-webkit-filter:brightness(0.3);
	}

	.bandpage-image-container:hover p {
		-webkit-transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		transition: all 1000ms cubic-bezier(0.47, 0, 0.745, 0.715);
		opacity: 1;
		-webkit-filter:brightness(1.5);
	}

	/*GIGS PAGE*/

	#gigs-page-image-grid {
		display: block;
	}


}
 
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
/*// css specific properties col-md-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
	}

	/*HOMEPAGE*/

	.hide-small {
		display: block;
	}

	/*GIGSPAGE*/

	#gigs-page-image-grid {
		display: block;
	}

}
 
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/*// css specific properties col-sm-**/

	.nav>li>a:hover,
	.nav>li>a:active,
	.nav>li>a:focus,
	.nav .open>a,
	.nav .open>a:focus,
	.nav .open>a:hover {
		text-shadow: none;
	}

	/*BANDPAGE*/
	img.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}

}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/*// css specific properties col-xs-**/

	/*HOMEPAGE*/

	#home-div{
		margin-right: 10px;
		margin-left:10px;
	}

	/*BANDPAGE*/
	img.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}

	.tweet {
		font-size: 0.8em;
	}

}
 
/* Portrait phones and smaller */
@media (max-width: 480px) {
/*// css specific properties col-xs-* or none for default*/

	.navbar-nav>li>a {
		margin: 0;
	    padding: 15px 25px;
	}

	/*ACCORDIAN ON GIGS PAGE*/
	.panel-default>.panel-heading {
		height: 45px;
		padding: 5px;
	}

	/*CONTACT PAGE*/
	#contact-div {
		margin: 10px 5px 10px 5px;
	}

	#twitter-div {
		margin-left: 5px;
		margin-right: 5px;
	}


}

h6{
	font-size:1.3em;
	color: black;
}

.main-page-logo{
	margin-top: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
  }
  .tagline{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .controls{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .button {
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left:10px;
    cursor: pointer;
  }

.login {
    background-color: white;
    color: black;
    border: 1px solid ;
    border-radius: 5px
}

.signup {
    background-color: white;
    color: black;
    border: 1px solid ;
    border-radius: 5px
}


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

.profile 
{
    min-height: 355px;
	display: inline-block;
	background-color: black;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }

span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
