<div>
	<ng-include src="'templates/nav.html'"></ng-include>
	</div>
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="gigs-header">
			<h1>Upcoming Gigs</h1>
			<label for="searchBox" class="field">Search for gigs near you </label>
			<input type="text" ng-model="searchBox" placeholder="Enter city name or venue">
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="accordion-container">

			<uib-accordion close-others="oneAtATime">

				<div uib-accordion-group class="panel-default"  ng-repeat="group in groups | filter:searchBox">
					<uib-accordion-heading>
						{{group.date}}  -  {{group.city}} - {{group.venue}} <i class="pull-right glyphicon glyphicon-chevron-down"></i>
					</uib-accordion-heading>
					<h6>{{group.details}}</h6>
					<h6>{{group.compensation}}</h6>
					<h6>{{duration}}</h6>
					<div class='btn-group'>
					<button type="button" class="btn btn-primary btn-md pull right">Request</button></div>
					<iframe ng-src="{{group.map}}" style="width: 100%; height: 400px" frameborder="0" marginheight="0" marginwidth="0"></iframe>

				</div>
					</div>
				</div>
			</uib-accordion>

		</div>
	</div>
</div>
