
<div class="main-page-logo">
    </div>
    <div class="tagline">
     <h1>Welcome to GigKit!</h1>
    </div>
    
    <div class="controls">
        <a  href="#!/login" class="button login">Login</a>
        <a href="#!/signup" class="button signup">Signup</a>
    </div>
</div>
        </div>
        </div>



        
