<div>
    <ng-include src="'templates/nav.html'"></ng-include>
    </div>

   
<div class="container" ng-controller="SearchDBCtrl as ctrl">
    
        <div class="page-header">
            <h1>User Management System
              
            </h1>
        </div>
    	<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0" id="contact-div">
        <form name="queryForm" novalidate class="form-inline">
            <div class="form-group">
                <input id="searchString"
                       class="form-control"
                       size="50"
                       type="text"
                       name="searchString"
                       ng-model="ctrl.searchString"
                       placeholder="Enter email or username">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        ng-click="ctrl.search()">
                    Search users
                </button>
                <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        ng-click="ctrl.searchForDepartment()">
                    Search with email info
                </button>
            </div>
        </form>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User No</th>
                <th>Username</th>
                <th>Email</th>
                <th ng-show="ctrl.showDepartment">Created At</th>
                <th ng-show="ctrl.showDepartment">Updated at</th>
    
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="emp in ctrl.employees">
                <td><a ng-click="ctrl.goEdit(emp.emp_no)" style="cursor: pointer;">{{ emp.emp_no }}</a></td>
                <td>{{ emp.first_name }}</td>
                <td>{{ emp.last_name }}</td>
                <td>
                <span ng-show="ctrl.showDepartment">
                     <!-- Handles display of employees that have no departments -->
                    {{ emp.dept_emps[0] ? emp.dept_emps[0].dept_no : " "}}
                </span>
                </td>
                <td>
                <span ng-show="ctrl.showDepartment">
                     <!-- Handles display of employees that have no departments -->
                    {{ emp.dept_emps[0]
                    ? (emp.dept_emps[0].department.dept_name)
                    : " "}}
                </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>