	<!-- Navbar -->

	<nav class="navbar navbar-inverse navbar-fixed top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
                  <h1 id="homeTitle">GIG<span>KIT</span></h1>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
          </div>
  
          <div class="collapse navbar-collapse" id="navbar1"> 
              <ul class="nav navbar-nav">
                  <li ><a href="#!/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
                  <li><a href="#!/band"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> FIND TALENT</a></li>
              
                  <li><a href="#!/gigs"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> FIND GIGS</a></li>
                  <li class="dropdown">
                          <a id="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> ACCOUNT <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#!/profile"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Profile</a></li>
                                  <li><a href="#!/list"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Users List</a></li>
                              </ul>
                  <li><a href="#!/" ng-click="main.logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>LOGOUT</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>